*.pyc
build/
.cproject
.lock-waf*
lock-waf*
.autotools
.project
.settings/
.waf-*/
waf-*/
*~
.DS_Store
*.zip
*.tar.*

# qt creator
lvtk.config
lvtk.creator
lvtk.creator.user*
lvtk.files
lvtk.includes

/legacy/

/.vscode/settings.json
/lvtk-*

doxy.log

.meson-subproject-wrap-hash.txt