dist: xenial

language: cpp

script: python waf configure --docs --lv2-user --disable-ui --tests clean build check distcheck

before_install:
  - sudo apt-get install -y lv2-dev libcppunit-dev

addons:
  apt:  
    update: true
