[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = LV2 Toolkit
	state = hidden
[access "refs/*"]
	owner = group user/Michael R. Fisher (mfisher31)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Michael R. Fisher (mfisher31)
	label-Verified = -1..+1 group user/Michael R. Fisher (mfisher31)
	push = group user/Michael R. Fisher (mfisher31)
	read = group user/Michael R. Fisher (mfisher31)
	rebase = group user/Michael R. Fisher (mfisher31)
	removeReviewer = group user/Michael R. Fisher (mfisher31)
	submit = group user/Michael R. Fisher (mfisher31)
[access "refs/heads/*"]
	create = group user/Michael R. Fisher (mfisher31)
	push = +force group user/Michael R. Fisher (mfisher31)
	pushMerge = group user/Michael R. Fisher (mfisher31)
	read = group user/Michael R. Fisher (mfisher31)
[access "refs/tags/*"]
	push = group user/Michael R. Fisher (mfisher31)
	push = +force group user/Michael R. Fisher (mfisher31)
