<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Title>LVTK</Title>
    <Name>LVTK</Name>
    <Version>@VERSION@</Version>
    <Publisher>Kushview, LLC</Publisher>
    <StartMenuDir>LVTK</StartMenuDir>
    <TargetDir>@TARGETDIR@</TargetDir>
    <ControlScript>control.js</ControlScript>
    <MaintenanceToolName>updater</MaintenanceToolName>
    <RemoteRepositories>
        <Repository>
            <DisplayName>Release</DisplayName>
            <Url>https://ci.lvtk.org/release/@PLATFORM@</Url>
            <Enabled>1</Enabled>
        </Repository>
        <Repository>
            <DisplayName>Nightly</DisplayName>
            <Url>https://ci.lvtk.org/nightly/@PLATFORM@</Url>
            <Enabled>0</Enabled>
        </Repository>
    </RemoteRepositories>
</Installer>
