<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Title>LVTK</Title>
    <Name>LVTK</Name>
    <Version>@VERSION@</Version>
    <Publisher>Kushview, LLC</Publisher>
    <StartMenuDir>LVTK</StartMenuDir>
    <TargetDir>@TARGETDIR@</TargetDir>
    <ControlScript>control.js</ControlScript>
    <MaintenanceToolName>updater</MaintenanceToolName>
    <RemoteRepositories>
        <Repository>
            <DisplayName>Stable</DisplayName>
            <Url>https://lvtk.s3.amazonaws.com/ci/stable/windows</Url>
            <Enabled>1</Enabled>        
        </Repository>
        <Repository>
            <DisplayName>Nightly</DisplayName>
            <Url>https://lvtk.s3.amazonaws.com/ci/nightly/windows</Url>
            <Enabled>0</Enabled>        
        </Repository>
    </RemoteRepositories>
</Installer>
