Source: lv2-c++-tools
Section: devel
Priority: extra
Maintainer: Lars Luthman <lars.luthman@gmail.com>
Build-Depends: debhelper (>= 5), libboost-dev (>= 1.33.1), libgtkmm-2.4-dev (>= 2.10.10)
Standards-Version: 3.7.2

Package: lv2peg
Architecture: any
Depends: libstdc++6-dev (>= 4.2.1), libpaq0 (= ${binary:Version})
Description: A RDF/Turtle to C translator for LV2 plugin authors
 LV2 plugins consist of RDF data in Turtle files and a shared library
 that contains the actual plugin implementation. The Turtle files and
 the source code for the shared library usually share some data, for
 example port indices and control port ranges. lv2peg generates C header
 files from the Turtle files so you only have to edit this data in one
 place.

Package: liblv2-plugin-dev
Architecture: any
Section: libdevel
Depends: libstdc++6-dev (>= 4.2.1)
Description: A library of C++ classes for writing LV2 plugins
 A library of C++ classes that makes it easier to write LV2 plugins.

Package: liblv2-gui-dev
Architecture: any
Section: libdevel
Depends: libgtkmm-2.4-dev (>= 2.10.10), liblv2-plugin-dev (= ${binary:Version})
Description: A library of C++ classes for writing LV2 plugin GUIs
 A library of C++ classes that makes it easier to write GUIs for LV2 plugins.

Package: libpaq0
Architecture: any
Section: libs
Depends: libstdc++6 (>= 4.2.1)
Description: A simple library for parsing and querying RDF/Turtle data
 A simple C++ library for querying and parsing RDF data in Turtle format.

Package: libpaq-dev
Architecture: any
Section: libdevel
Depends: libpaq0 (= ${binary:Version}), libboost-dev (>= 1.33.1)
Description: Development files for the RDF parsing and querying library
 Headers and static library files for the RDF parsing and querying library.
